.build
.DS_Store
.idea
.vscode
.swiftpm
.swiftformat
.swiftlint
.swiftpackageindex
.swiftpackageindex.json
.swiftpackageindex.json.lock
.swiftpackageindex.json.lock.lock
.swiftpackageindex.json.lock.lock.lock
.swiftpackageindex.json.lock.lock.lock.lock

ToysStore.xcodeproj